@charset "UTF-8";
*
{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body
{
    background-image: linear-gradient(to right, #D1D1D1,#878787 ) ;
}

main
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1d1d1d; 
    width: 600px;
    padding: 10px ;
    margin: auto;
}
h1
{
    color: #b6a6b6;
    text-align: center;
    text-shadow: 1px 1px 2px #585158c7;
}
h2
{
    color: #7a8d8d;
    text-align: center;
}
p
{
    text-align: justify; 
    text-align: center;
}